<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/icons/icon192x192.png">
    <link rel="manifest" href="app.webmanifest">
    <link rel="shortcut icon" href="favicon.png">

    <title>Tuangeun Apps</title>
</head>

<body>
    <a href="#skip-to-content" class="skip-to-content" tabindex="0">Menuju Daftar Restoran</a>
    <header>
        <navigation-bar></navigation-bar>
    </header>
    <main id="skip-to-content" tabindex="0">
        <!-- content here  -->
    </main>
    <footer>
        <footer-credits></footer-credits>
    </footer>
</body>

</html>